* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  padding: 8px;
  background: rgb(18, 144, 194);
  background: linear-gradient(
    90deg,
    rgba(18, 144, 194, 1) 31%,
    rgba(1, 59, 166, 1) 71%
  );
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_container {
  width: 500px;
  background-color: #013082;
  margin: 50px 50px;
  padding: 15px 20px 25px 20px;
  border-radius: 6px;
  height: 400px;
  box-shadow: 0 0 5px rgb(27, 25, 25);
}

h1 {
  color: #fff;
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: #fff;
}

.user {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.main_user {
  display: flex;
}

.main_pass {
  display: flex;
  margin-top: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  margin: px;
}

input[type="submit"] {
  background-color: #1bbacf;
  color: #fff;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 60px;
  transition-duration: 0.4s;
  overflow: hidden;
}

.forgot_pass {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  body {
    background: rgb(16, 139, 191);
    background: radial-gradient(
      circle,
      rgba(16, 139, 191, 1) 0%,
      rgba(1, 59, 166, 1) 100%
    );
  }
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .login_container {
    margin-left: -15px;
  }

  h1 {
    text-align: center;
  }
}
